.btn-success {
	background-color: #f08519;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #f08519;
  background-color: transparent;
  border-color: #888;
  background-image: none;
  font-weight: bold;
}
